.container {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
}

.links {
  display: flex;
  justify-content: center;

  span {
    margin: 0 8px;
  }

  a {
    color: white;
  }
}

small {
  a {
    color: white;
  }
}
