.container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  padding: 12px;
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;

  span {
    margin: 0 8px;
  }

  a {
    color: white;
  }

  @media screen and (max-width: 425px) {
    font-size: 12px;
  }
}

small {
  a {
    color: white;
  }

  @media screen and (max-width: 425px) {
    font-size: 11px;
  }
}
