.watchSelector {
  .countrySelector {
    margin: 18px 0;
    display: inline-flex;
    flex-direction: column;
    label {
      margin-bottom: 8px;
    }

    select {
      border: none;
      padding: 8px 8px;
      border-radius: 5px;
      font-size: 16px;
      font-family: 'Fira Mono', monospace;
    }

    small {
      margin-top: 4px;
      a {
        color: white;
      }
    }
  }

  .platforms {
    .watchOption {
      p {
        margin-bottom: 8px;
      }
      .platformList {
        display: flex;
        column-gap: 16px;
        margin-bottom: 16px;
        .provider {
          display: inline-block;
        }
      }
    }
  }
}
