.container {
  padding: 48px 49px 90px 48px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .back {
    text-decoration: underline;
    cursor: pointer;
  }

  h1 {
    margin-bottom: 24px;
    max-width: 520px;
    word-wrap: break-word;
  }
}